body {
  background-color: #red;


}

.navbar {
  width: 100%;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 0;
  background-color: #333;
  color: black;
}

.carousel-inner img {
  max-width: 65%;
  width: 65%;
  margin: 0 auto;

}

#left-tuteur {
  border: 1px black solid;
  height: 200px;
  overflow: auto;
}

#right-tuteur {
  height: hv;
  overflow: auto;
}

#carousel-example-generic {
  max-width: 65%;
  width: 65%;
  margin: 0 auto;
}

.presentation {
  background-color: #EEEEEE;
  margin-left:5%;
  margin-right:5%;

}
.section-test {
  max-width: 65%;
  width: 65%;
  margin: 0 auto;
  background-color: #EEEEEE;
}

.recherche {
  max-width: 65%;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.recherche-droite {
  max-width: 65%;
  width: 65%;
  margin: 0 auto;
  float:right;
}