extends ../layout

block content
    if error
        each err in error
            div.bg-danger
                h3= err

    .container
        form.form-horizontal(action='/client/edit-password' method='post')
            input(type="hidden", name="_csrf", value=csrf)
            h2 Modifier le Mot de Passe
            .form-group
                label.col-sm-3.control-label(for='password') Mot de Passe
                .col-sm-9
                    input#password.form-control(name='password', type='password', placeholder='Mot de Passe')
            .form-group
                label.col-sm-3.control-label(for='ConfirmPassword') Confirmation
                .col-sm-9
                    input#confirmPassword.form-control(name='confirmPass', type='password', placeholder='Confirmation Mot de Passe')
            .form-group
                .col-sm-9.col-sm-offset-3
                    button.btn.btn-primary.btn-block(type='submit') Valider

