extends ../layout

block content
    if error
        each err in error
            div.bg-danger
                h3= err


    .container
        form#new-offer(action='/client/edit-password' method='post')
            input(type="hidden", name="_csrf", value=csrf)
            h3  Modifier le Mot de Passe

            fieldset
                | Mot de Passe :
                input.form-control(name='password', type='password', placeholder='Mot de Passe')

            fieldset
                | Confirmation :
                input.form-control(name='confirmPass', type='password', placeholder='Confirmation Mot de Passe')

            fieldset
                button#new-offer-submit(name='submit', type='submit')  Modifier