extends  layout

block content
        header
        nav
            ul
                li
                    a(href='index.html') Tutor-A
                li
                    a(href='page2.html')
        form(action='connexion' method='post')
            p
                | Email:
                br
                input.roundedinput(type='text', placeholder='Email', required='')
            p
                | Password:
                br
                input.roundedinput(type='password', placeholder='Mot de passe', required='')
            input(type='submit')
        br
        br
        a(href='.html') Pas encore inscrit?
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        // Include all compiled plugins (below), or include individual files as needed
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
