extends layout

block content
    header.section
        .header-content
            .header-content-inner
    ul.list-inline
        li
            a#button.survol.btn.btn-primary.page-scroll(href='/offers') Rechercher votre tuteur
    .container-fluid.bloc
        .row
            .col-sm-12.centrer
                a#presentation
                h2.text-center Quel est le but de ce site?
                hr
                p En utilisant ce site, vous pourrez trouver un tuteur proche de chez vous, Grace à une recherche qui prend en compte la distance.
                br


        .row
            .col-sm-6.bordure-left
                a#projet.anchor
                h2.text-center Qui sommes-nous?
                hr
                p Nous sommes des étudiants en informatique et management. A partir d'un projet d'études, nous avons décidé de développer une plateforme de mise en relation entre voisins pour du soutien scolaire. Notre objectif est d'aider les élèves en difficultés ou qui veulent s'améliorer  dans leur études.
                br
            .col-sm-6.bordure-right
                a#etudes
                h2.text-center Comment ça marche?
                hr
                p 1 - Trouvez un tuteur proche de chez vous
                p Selectionner un tuteur à proximité qui vous convient.
                p 2 - Reservez votre cours rapidement
                p 3 - Apprenez avec votre voisin!
                br
    footer.cl-footer
        h2 Tutor-A
        .centrage.video
            iframe(width='560', height='315', src='https://www.youtube.com/embed/TH0Vatynzb0', frameborder='0', allowfullscreen='')


