extends layout

block content
    header.section
        .header-content
            .header-content-inner
    ul.list-inline
        li
            a#button.survol.btn.btn-primary.page-scroll(href='/offers') Rechercher votre tuteur
    .container-fluid.bloc
        .row
            .col-sm-12.centrer
                a#presentation
                h2.text-center Quel est le but de ce site?
                hr
                p En utilisant ce site, vous pourrez trouver un tuteur proche de chez vous, Grace à une recherche qui prend en compte la distance.

        .row
            .col-sm-6.bordure-left
                a#projet.anchor
                h2.text-center Qui sommes nous?
                hr
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum id eveniet, modi beatae necessitatibus provident temporibus quod. Eligendi sapiente iure, inventore rerum, impedit ducimus ullam voluptas itaque asperiores eos laboriosam.
                br
            .col-sm-6.bordure-right
                a#etudes
                h2.text-center Études
                hr
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ab similique voluptate tempore doloremque aliquid labore fuga illum nesciunt nulla, eos veniam aut praesentium accusamus nam, rem vel in deleniti.
    footer.cl-footer
        h2 Tutor-A

