extends layout

block content
    body
        nav#mainNav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.page-scroll(href='#page-top') Tutor-A
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a.page-scroll(href='#about') Accueil
                        li
                            a.page-scroll(href='#services') Nos offres
                        li
                            a.page-scroll(href='#portfolio') Nous contacter
                        li
                            a#button2.survol(href='/sign-up') S'inscrire
                        li
                            a#button.survol(href='/sign-in') Se connecter
                // /.navbar-collapse
            // /.container-fluid
        br
        br
        br
        header
            .header-content.section
                .header-content-inner
                    ul.list-inline
                        li
                            a#button.btn.btn-primary.page-scroll.centree(href='#about') Recherche dès maintenant votre tuteur
        .container-fluid
            .row
                .col-sm-12
                    a#presentation
                    h2.text-center Présentation
                    |                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quisquam asperiores provident ipsa illum delectus quam quo earum aut tempora ipsam ducimus nam facere aliquam, consequuntur, hic quos saepe fugit?
            .row
                .col-sm-6
                    a#projet.anchor
                    h2.text-center Projets
                    |                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum id eveniet, modi beatae necessitatibus provident temporibus quod. Eligendi sapiente iure, inventore rerum, impedit ducimus ullam voluptas itaque asperiores eos laboriosam.
                    br
                .col-sm-6
                    a#etudes
                    h2.text-center Études
                    |                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ab similique voluptate tempore doloremque aliquid labore fuga illum nesciunt nulla, eos veniam aut praesentium accusamus nam, rem vel in deleniti.


