doctype html
html
  head
    title= title
    meta(charset='utf-8')

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/css/animate.min.css')
    link(rel='stylesheet', href='/stylesheets/css/creative.css')





    block content

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/Js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/Js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='/Js/jquery.easing.min.js')
    script(src='/Js/jquery.fittext.js')
    script(src='/Js/wow.min.js')
    // Custom Theme JavaScript
    script(src='/Js/creative.js')
