doctype html
html
    head
        title= title
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block css
        link(rel='icon', href='/favicon.png', type='image/png')

    body
        #display_navigation

            nav.navbar.navbar-inverse(role='navigation')
                .container
                    // Brand and toggle get grouped for better mobile display
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand
                    // Collect the nav links, forms, and other content for toggling
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a(href='/') Tutor-A
                            li#right
                                a(href='/sign-up') S'inscrire
                            li#right
                                a(href='/sign-in') Se Connecter
                            li#right
                                a(href='/sign-out') Se Déconnecter
                            li#right
                                a(href='/offers') Offres
                            li#right
                                a(href='/tutor/dashboard') DB


        block content

        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        // Include all compiled plugins (below), or include individual files as needed
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        // For Win 8
        script(src='../../assets/js/ie10-viewport-bug-workaround.js')

