extends layout

block content
    if offers
        table.table.table-striped.table-bordered
            each offer in offers
                .col-sm-6.bordure
                    h2 Offres
                    div
                        .offer-profile
                            img.avatar(src='http://www.afdt-asso.fr/wp-content/uploads/2014/10/facebook-profile-picture-no-pic-avatar-e1358915839552.jpg', alt='Photo-profil')
                            .username
                                p= offer.tutor.firstName
                            .matter
                                p= offer.matter.toUpperCase() + ' | ' + offer.level
                            .description
                                p= offer.description
                            ul.data
                                li
                                    span.entypo-heart=  offer.price + " €"
                                li
                                    span.entypo-eye= offer.tutor.distance + " m"

                                li
                                    a.btn.btn-default(href='/offer/' + offer._id) Voir

