extends layout

block content
    nav
        ul
            li
                a(href='index.html') Tutor-A
            li
                a(href='page2.html') Profil
            li
                a
                    button.droite Se déconnecter
    p Matière que vous souhaitez enseigner:
    form
        select(name='nom', ,='', size='1')
            option
                | Francais
            option
                | Anglais
            option
                | Mathématiques
            option
                | Physique-Chimie
            option
                | SVT
        p
            | Description:
            br
            textarea(name='Commentaire', cols='70', rows='10', placeholder='Offre', required='')
        input(type='submit')
