extends layout

block content
    h1.signup S'inscrire en tant que :
        .container2
            a.btn-signup(href='/sign-up-student') Etudiant
            a.btn-signup(href='/sign-up-tutor') Tuteur