extends layout

block content
    if error
        - for (k in error)
        h2= error[k]
    body#page-top.color
        nav#mainNav.navbar.navbar-default.navbar-fixed-top.affix-top
            .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.page-scroll(href='#page-top') Tutor-A
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a.page-scroll.btn-tertiary(href='/') Accueil
                        li
                            a.page-scroll.btn-tertiary(href='#services') Nos offres
                        li
                            a.page-scroll.btn-tertiary(href='#portfolio') Nous contacter
    br
    br
    br
    br
    h2.centrage Tuteur
    form(action='/sign-up' method='post')
    .container
        .row
            div.centrer
                p
                    | Nom:
                    br
                    input.form-control.input-sm.chat-input(type='text', required='', placeholder='Entrez votre nom')
                p
                    | Prénom:
                    br
                    input.form-control.input-sm.chat-input(type='text', required='', placeholder='Entrez votre prénom')
                p
                    | Adresse mail:
                    br
                    input.form-control.input-sm.chat-input(type='text', required='', placeholder='Entrez votre email')

                    br
                    |Rue:
                    input.form-control.input-sm.chat-input(type='text', required='', placeholder='Rue')
                    br
                    |Ville:
                    input.form-control.input-sm.chat-input(type='text', required='', placeholder='Ville')
                    br
                    |Pays:
                    input.form-control.input-sm.chat-input(type='text', required='', placeholder='Pays')
                p
                    | Mot de passe:
                    br
                    input.form-control.input-sm.chat-input(type='password', required='', placeholder='Entrez votre mot de passe')
                p
                    | Confirmation Mot de passe:
                    br
                    input.form-control.input-sm.chat-input(type='password', required='', placeholder='Entrez votre mot de passe')
                p
                    | Âge:
                    br
                    input.form-control.input-sm.chat-input(type='text', required='', placeholder='Entrez votre âge')
                div.col-md-6
                    | Matière(s) supervisée(s):
                    #cache
                        li
                            | Mathématiques
                            input(type='checkbox', name='Choix', value='Maths')
                        li
                            | Physique-Chimie
                            input(type='checkbox', name='Choix', value='PC')
                        li
                            | Français
                            input(type='checkbox', name='Choix', value='Français')
                        li
                            | Anglais
                            input(type='checkbox', name='Choix', value='Anglais')
                        li
                            | Science de la vie et de la terre
                            input(type='checkbox', name='Choix', value='SVT')
                        li
                            | Mathématiques
                            input(type='checkbox', name='Choix', value='Maths')
                div.col-md-6
                    p.recherche Niveau :
                        form.recherche
                            select(name='nom', size='1')
                                option
                                    | Sixième
                                option
                                    | Cinquième
                                option
                                    | Quatrième
                                option
                                    | Troisième
                                option
                                    | Seconde
                                option
                                    | Première
                                option
                                    | Terminale
                        br
                        button.button.btn-primary.centrage Ajouter
                wrapper
                    span.group-btn
                        a.btn.btn-primary.btn-md.centrage(href='#')
                            | Inscription


