extends  layout

block content
    if error
        each err in error
            div.bg-danger
                h3= err

    .container2
        #signIn-form
            h3 Connection

            fieldset
                form(action='/sign-in' method='post')
                    input(type="hidden", name="_csrf", value=csrf)
                    input(name='email', value=form.email, type='email', placeholder='Email', required='', autofocus='')

                    input(name='password', type='password', placeholder='Mot de passe', required='')

                    a(href='/sign-up') Pas encore inscrit?

                    input(type='submit', value='Se Connecter')