extends  layout

block content
    if error
        - for (var k in error)
            div.bg-danger
                h3 #{error[k]}


    form(action='/sign-in' method='post')
        input(type="hidden", name="_csrf", value=csrf)
        p
            | Email:
            br
            input.roundedinput(name='email', value=form.email, type='text', placeholder='Email', required='', autofocus='')
        p
            | Password:
            br
            input.roundedinput(name='password', type='password', placeholder='Mot de passe', required='')

        input(type='submit')
    br
    br
    a(href='/sign-up') Pas encore inscrit?