extends layout

block content
    .container
        #signIn-form.center-div
            h3 Connection

            fieldset
                form(action='', method='post')
                    input(type='email', required='', name='Email', placeholder='Email')

                    input(type='password', required='', name='Password', placeholder='Mot de passe')

                    input(type='submit', value='Se Connecter')
