extends layout

block content
    br
    input.recherche(type="text" placeholder="Rechercher un tuteur par nom")
    p.recherche-gauche Recherche par matière :
    form.recherche-gauche
        select(name='nom', size='1')
            option
                | Français
            option
                | Anglais
            option
                | Mathématiques
            option
                | SVT
            option
                | Physique
            option
                | Chimie
